<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns:aop="http://www.springframework.org/schema/aop"-->
       <!--xmlns:tx="http://www.springframework.org/schema/tx"-->
       <!--xsi:schemaLocation="-->
<!--http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd-->
<!--http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd-->
<!--http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">-->
    <!--<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">-->
        <!--<property name="configLocation" value="classpath:hibernate.cfg.xml"/>-->
    <!--</bean>-->
    <!--<bean id="bookAction" class="zv2.com.cn.action.biz.book.BookAction" scope="prototype">-->
        <!--<property name="bookService" ref="bookService"/>-->
    <!--</bean>-->
    <!--<bean id="bookService" class="zv2.com.cn.service.biz.book.BookService">-->
        <!--<property name="bookDao" ref="bookDao"/>-->
    <!--</bean>-->
    <!--<bean id="bookDao" class="zv2.com.cn.dao.biz.book.BookDao">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash;事务管理器&ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
<!--</beans>-->